<h1>{{title}}</h1>
<p>Welcome to our portal</p>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="patient/add-patient"><img src="https://insights.samsung.com/wp-content/uploads/2016/04/patient-information-1919x768.jpg" alt="Add Patient" style="max-height:400px;width:100%"></a>
            <div class="carousel-caption">
                <h3>Add Patient</h3>
                <p>A new patient can be added through this module</p>
            </div>
        </div>
        <div class="item">
            <a href="patient/retrieve-patient"><img src="http://www.docero.com/wp-content/uploads/2016/06/patient-experience-image-min.jpg" alt="Search Patient" style="max-height:400px;width:100%"></a>
            <div class="carousel-caption">
                <h3>Search Patient</h3>
                <p>Patient Directory where Patients' data is stored</p>
            </div>
        </div>
        ..
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>